body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#root {
  width: 100%;
  height: 100%;
}

// 主题

:root {
  --background-theme: #ffffff;
  --background-theme-light: #f0f2f5;
  --text-color: #333333;
}

[data-theme='dark'] {
  --background-theme: #141414;
  --background-theme-light: #1f1f1f;
  --text-color: #ffffff;
}

[data-theme='light'] {
  --background-theme: #ffffff;
  --background-theme-light: #f0f2f5;
  --text-color: #333333;
}

// 布局
.layout {
  background-color: var(--background-theme);
  width: 100%;
  height: 100%;
  color: var(--text-color);
  & > div {
    width: 100%;
    height: $layout-content-height;
    background-color: var(--background-theme-light);
    & > div {
      padding: $content-padding;
      height: calc(100% - $content-padding * 2);
      width: calc(100% - $content-padding * 2);
      overflow: hidden;
    }
  }
  .layout-header {
    height: calc($layout-header-height - $content-padding);
    width: 100%;
    background-color: var(--background-theme-light);
    display: flex;
    align-items: center;
  }
}


